<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:node="remove" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove" />
    <application android:extractNativeLibs="true" android:label="Family Watch Party"
        android:icon="@drawable/app_icon" android:theme="@android:style/Theme.Material.NoActionBar"
        android:allowBackup="false" android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" android:exported="true"
            android:supportsPictureInPicture="false" android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize|keyboard"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name="androidx.startup.InitializationProvider" android:authorities="${applicationId}.androidx-startup" tools:node="remove" />
        <receiver android:name="androidx.profileinstaller.ProfileInstallReceiver" tools:node="remove" />
    </application>
</manifest>
